<a href="https://colab.research.google.com/github/vasanthkum03/hello-world/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window # Import Window class from pyspark.sql.window
import pyspark.sql.functions as F # Import functions for sum

# Create a SparkSession
spark = SparkSession.builder.appName("MySparkApp").getOrCreate()

data = [(1,"HR",50000,"2022-01-01"),(2,"IT",70000,"2021-06-15"),(3,"HR",60000,"2023-03-10"),(4,"IT",80000,"2020-12-01")]
columns = ["employee_id","department","salary","join_date"]

df = spark.createDataFrame(data,columns)
df.show()
WindowSpec = Window.partitionBy("department").orderBy("join_date")
# Remove .show() from the end to assign the transformed DataFrame to df1
df1 = df.withColumn("cumulative_salary",F.sum("salary").over(WindowSpec))
df1.show() # Display df1

# Remove .show() from the end to assign the transformed DataFrame to df2
df2 = df1.withColumn("rank",F.rank().over(WindowSpec))
df2.show() # Display df2

+-----------+----------+------+----------+
|employee_id|department|salary| join_date|
+-----------+----------+------+----------+
|          1|        HR| 50000|2022-01-01|
|          2|        IT| 70000|2021-06-15|
|          3|        HR| 60000|2023-03-10|
|          4|        IT| 80000|2020-12-01|
+-----------+----------+------+----------+

+-----------+----------+------+----------+-----------------+
|employee_id|department|salary| join_date|cumulative_salary|
+-----------+----------+------+----------+-----------------+
|          1|        HR| 50000|2022-01-01|            50000|
|          3|        HR| 60000|2023-03-10|           110000|
|          4|        IT| 80000|2020-12-01|            80000|
|          2|        IT| 70000|2021-06-15|           150000|
+-----------+----------+------+----------+-----------------+

+-----------+----------+------+----------+-----------------+----+
|employee_id|department|salary| join_date|cumulative_salary|rank|
+-----------+----------+------+----------+-----------------+----+
|          1|        HR| 50000|2022-01-01|            50000|   1|
|          3|        HR| 60000|2023-03-10|           110000|   2|
|          4|        IT| 80000|2020-12-01|            80000|   1|
|          2|        IT| 70000|2021-06-15|           150000|   2|
+-----------+----------+------+----------+-----------------+----+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window # Import Window class from pyspark.sql.window
import pyspark.sql.functions as F # Import functions for sum

# Create a SparkSession
spark = SparkSession.builder.appName("MySparkApp").getOrCreate()

data = [("Store A","2024-01",800),("Store A","2024-02",1200),("Store A","2024-03",900),("Store B","2024-01",1500),("Store B","2024-02",1600)
,("Store B","2024-03",1400),("Store C","2024-01",700),("Store C","2024-02",1000),("Store C","2024-03",800)]
columns = ["Store","Month","Sales"]

dfa = spark.createDataFrame(data,columns)


df=dfa.filter(F.col("Sales")>=1000)
df.show()
windowSpec = Window.partitionBy("Store").orderBy("Month")
df1 = df.withColumn("Cumulative_Sales",F.sum("Sales").over(windowSpec))
df1.show()

df2 = df1.groupby("Store").agg(F.sum("Sales").alias("Total_Sales"))
df2.show()
df_final = df1.join(df2,on = "Store").select("Store","Total_Sales","Cumulative_Sales")
df_result = df_final.orderBy(F.col("Total_Sales").desc())
df_result.show()

+-------+-------+-----+
|  Store|  Month|Sales|
+-------+-------+-----+
|Store A|2024-02| 1200|
|Store B|2024-01| 1500|
|Store B|2024-02| 1600|
|Store B|2024-03| 1400|
|Store C|2024-02| 1000|
+-------+-------+-----+

+-------+-------+-----+----------------+
|  Store|  Month|Sales|Cumulative_Sales|
+-------+-------+-----+----------------+
|Store A|2024-02| 1200|            1200|
|Store B|2024-01| 1500|            1500|
|Store B|2024-02| 1600|            3100|
|Store B|2024-03| 1400|            4500|
|Store C|2024-02| 1000|            1000|
+-------+-------+-----+----------------+

+-------+-----------+
|  Store|Total_Sales|
+-------+-----------+
|Store B|       4500|
|Store A|       1200|
|Store C|       1000|
+-------+-----------+

+-------+-----------+----------------+
|  Store|Total_Sales|Cumulative_Sales|
+-------+-----------+----------------+
|Store B|       4500|            4500|
|Store B|       4500|            3100|
|Store B|       4500|            1500|
|Store A|       1200|            1200|
|Store C|       1000|            1000|
+-------+-----------+----------------+